# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.conf
bin/WIN32_VC2013_DEBUG/plugins/script/ComScriptUId1.exp
bin/WIN32_VC2013_DEBUG/plugins/script/ComScriptUId1.ilk
bin/WIN32_VC2013_DEBUG/plugins/script/Officed1.exp
bin/WIN32_VC2013_DEBUG/plugins/script/comscriptuid1.pdb
bin/WIN32_VC2013_DEBUG/plugins/script/officed1.pdb
bin/WIN32_VC2013_DEBUG/TestOfficed.pdb
bin/WIN32_VC2013_DEBUG/plugins/script/Officed1.ilk
bin/WIN32_VC2013_DEBUG/testofficed1.pdb
bin/WIN32_VC2013_DEBUG/TestOfficed.ilk
