# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.conf
bin/WIN32_VC2013_DEBUG/plugins/script/ComScriptUId1.exp
bin/WIN32_VC2013_DEBUG/plugins/script/ComScriptUId1.ilk
bin/WIN32_VC2013_DEBUG/plugins/script/Officed1.exp
bin/WIN32_VC2013_DEBUG/plugins/script/comscriptuid1.pdb
bin/WIN32_VC2013_DEBUG/plugins/script/officed1.pdb
bin/WIN32_VC2013_DEBUG/TestOfficed.pdb
bin/WIN32_VC2013_DEBUG/plugins/script/Officed1.ilk
bin/WIN32_VC2013_DEBUG/testofficed1.pdb
bin/WIN32_VC2013_DEBUG/TestOfficed.ilk
bin/WIN32_VC2013_DEBUG/temp/symbolcache/advapi32.pdb/3F32049F550C42B09CF114A1FB8A97E92/advapi32.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/ComScriptUId1.pdb/4D46E80993B2400EA2ED426F2EA3B6233/ComScriptUId1.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/crypt32.pdb/3D273410EA6D46768097F52C36CF1C9D2/crypt32.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/comctl32.pdb/B4CE90AAB95E4B89A22A7711DFD7E6EF2/comctl32.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/cfgmgr32.pdb/93B1A0A82F114743AF9AABB1A17382462/cfgmgr32.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/comdlg32.pdb/96BC483CDFF04D1AAFE462F093B954EC2/comdlg32.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/cryptbase.pdb/E62FEAE559EE4CD995614215B01AC2102/cryptbase.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/dciman32.pdb/F1C0C4B3249C4AAA8A5130D41835B3652/dciman32.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/msasn1.pdb/003D5F0E24804B20953A7A021B52FC322/msasn1.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/mpr.pdb/1408743D42224025A49E02A79CE7190A2/mpr.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/glu32.pdb/2C6B6170DFA84C3E8CE7EF5D4408CE742/glu32.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/msvcr100.i386.pdb/FB319EC216E04A8996AF351118738F962/msvcr100.i386.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/msctf.pdb/173DAEF86B2548DBA6134EB74C4D2F232/msctf.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/dwmapi.pdb/D8D91B3F339A4FDC960FC7121D146DF42/dwmapi.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/msvcp100.i386.pdb/B7C5B4E3980A4DE7A0AE8D8D7776BA681/msvcp100.i386.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/dnsapi.pdb/5479EE67E2B54CE8A72863F57C17C95A2/dnsapi.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/ddraw.pdb/497DBEEFB3854F24BC6A468137860ADA2/ddraw.pdb
*.pdb
bin/WIN32_VC2013_DEBUG/temp/symbolcache/pingme.txt
